@model BoongalooCompany.IdentityServer.Models.CompleteAdditionalInformationModel

@{
    ViewBag.Title = "Complete Additional Information";
}

<h2>Complete Additional Information</h2>

@using (Html.BeginForm())
{
    <div class="form-group" hidden="hidden">
        @Html.TextBoxFor(m => m.ExternalProvider, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label for="Last">Your subscription</label>
        @Html.DropDownListFor(m => m.Role, Model.Roles, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
}